@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

.hero-section,
.info-section,
.quote-section,
.call-to-action-section {
    padding: 15px 200px;
    height: 500px;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-top {
    display: flex;
    justify-content: space-between;
}

.hero-top h2 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.hero-top ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

.hero-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.left p,
a#header-link {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.left {
    flex: 1;
    padding-right: 50px;
}

.left h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.left p {
    margin-bottom: 15px;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #f9faf8;
    cursor: pointer;
}

.placeholder {
    background-color: #6d747d;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.element div {
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 10px;
}

.element p {
    text-align: center;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 830px;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-top: 0;
    margin-bottom: 0;
}

#cit {
    text-align: end;
    font-size: 22px;
    font-weight: 900;
    color: #1f2937;
}

.cit-div {
    text-align: end;
    width: 775px;
}

.call-to-action-section {
    display: flex;
    align-items: center;
    margin-left: 205px;
    margin-right: 205px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 10px;
    flex: 1;
    padding: 30px 120px;
    color: white;
}

#cta-button {
    border: solid white;
}

.cta-left h3 {
    font-weight: 900;
}

.cta-right {
    display:flex;
    align-items: center;
}

.footer {
    flex: 1;
    display: flex;
    background-color: #1f2937;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.footer-text p {
    color: #e5e7eb;
    font-size: 18px;
}